<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='http://www.google.com';}"></iframe>
<form action="https://docs.google.com/forms/d/1G_-FcxiiriloYOR2sZI-cR0JtjDImezxMyXVctMFCro/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
<div class="col-md-4">
</div>
<div class="col-md-4">
  <input type="text" name="entry.961702186" value="" id="entry_961702186" dir="auto" aria-label="Email  " aria-required="true" required="" title="" class="form-control" placeholder="Your Email">
</br>
  <input type="hidden" name="draftResponse" value="[,,&quot;-7224226298942483315&quot;]
">
  <input type="hidden" name="pageHistory" value="0">
  <input type="hidden" name="fbzx" value="-7224226298942483315">
  <input type="submit" name="submit" value="Sign Up" id="ss-submit" class="btn btn-success btn-lg">
</div>
<div class="col-md-4">
</div>


