<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57477364-1', 'auto');
  ga('send', 'pageview');

</script>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Nasilab", root_path, class: "navbar-brand page-scroll" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%= link_to "Home", root_path, class: "page-scroll" %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Let us know what you think about the idea.</h3>
            </div>
        </div>
        <div class="row">
        <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='http://www.nasilab.com/thankyou';}"></iframe>
        <form action="https://docs.google.com/forms/d/1QoCH9hNlvzcliEqfcjvMDpp3W5TJWOmFkCtWaQ4o1yA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3">
                        </div>                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="entry.1533108836" value="" class="form-control" id="entry_1533108836" dir="auto" aria-label="name  " aria-required="true" required="" title="" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="entry.1613171614" value="" class="form-control" id="entry_1613171614" dir="auto" aria-label="email  " aria-required="true" required="" title="" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <textarea name="entry.2020291252" rows="8" cols="0" class="form-control" id="entry_2020291252" dir="auto" aria-label="message  " aria-required="true" required="" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>                        
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <input type="hidden" name="draftResponse" value="[,,&quot;-2707411619345025057&quot;]
                            ">
                            <input type="hidden" name="pageHistory" value="0">
                            <input type="hidden" name="fbzx" value="-2707411619345025057">
                            <input type="submit" name="submit" value="Send Message" id="ss-submit" class="btn btn-xl">                               
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>


 